{% extends 'base.html' %}

    {% block head_title %}{% if seo %}{{seo.page_title}}{% endif %}{% endblock head_title %}
    {% block meta_description %}{% if seo %}{{seo.meta_description}}{% endif %}{% endblock meta_description %}

{% block content %}
        <!-- ========== MAIN CONTENT ========== -->
        <main id="content" role="main">
            <!-- breadcrumb -->
            <div class="bg-gray-13 bg-md-transparent">
                <div class="container">
                    <!-- breadcrumb -->
                    <div class="my-md-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                                <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="{% url 'core:home' %}">Главная</a></li>
                                <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">Дополнительная информация</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- End breadcrumb -->
                </div>
            </div>
            <!-- End breadcrumb -->

            <div class="container">
                <div class="mb-12 text-center">
                    <h1>Дополнительная информация</h1>
                </div>
                <div id="delievery-and-payment" class="mb-10">
                    <h3 class="mb-6 pb-2 font-size-25">Доставка и оплата.</h3>
                    <ol>
                        <li>Оплата наличными.</li>
                        <li>Оплата кредитной банковской картой. Банковские карты: VISA / VISA Electron и MasterCard.</li>
                        <li>Онлайн оплата банковской картой. Покупки в интернет-магазине можно оплатить прямо на сайте. </li>
                            Вы будете автоматически перенаправлены на защищенную страницу, где вы вводите ваши данные для оплаты. 
                            При оплате картой не взимаются дополнительные платежи. Оплата совершается в леях по курсу банка, выдавшего карту. 
                            Store не хранит никакую информацию о карте.</li>
                        <li>Оплата перечислением. Для этого нам потребуются Ваши реквизиты.</li>
                        <li>Кредит. Мы сотрудничаем с Компанией eCredit. Оформление кредита занимает до 30 минут. Наличие молдавского удостоверения личности обязательно.
                            Компания Store осуществляет доставку по Бельцам в день заказа этого товара, а в другие города доставка осуществляется с помощью почты.</li>
                    </ol>
                </div>
                <div id='back-product' class="mb-10">
                    <h3 class="pb-2 mb-6 font-size-25">Возврат товара </h3>
                    <h4 class="font-size-18">Условия принятия товара</h4>
                    <p>В течение 14 дней потребитель вправе вернуть или обменять непродовольственный товар надлежащего качества на аналогичный товар у продавца, 
                    у которого этот товар был приобретен, если указанный товар не подошел по форме, габаритам, фасону, расцветке, размеру или комплектации.
                    При возврате товар должен соответствовать следующим условиям</p>
                    <ol>
                        <li>Внешний вид упаковки. Упаковка должна быть целой и в хорошем состоянии, штрих-код на упаковке легко считывается сканером.</li>
                        <li>Внешний вид товара. На товаре не должно быть повреждений ,а так же следов установки, загрязнений и посторонних запахов.</li>
                        <li>Соответствие товара. Товар должен быть в полной комплектации.</li>
                    </ol>
                    <p>Необходимые документы:</p>
                    <ol style="list-style:circle">
                        <li>Физическое лицо наличные/безналичные (банковская карта)</li>
                        <li>Чек</li>
                        <li>Копия удостоверения личности или водительского удостоверения (Юридическое лицо форма оплаты безналичные)</li>
                        <li>Возвратная накладная</li>
                        <li>Акт о возврате (Юридическое лицо форма оплаты наличные)</li>
                        <li>Возвратная накладная</li>
                        <li>Копия Extras (при выдаче денежных средств Директору фирмы)</li>
                        <li>Доверенность лицу (при выдаче денежных средств доверенному лицу)</li>
                    </ol>
                </div>
            </div>
        </main>
        <!-- ========== END MAIN CONTENT ========== -->
{% endblock content %}

