{% load static %}
    <head>
    {% block head %}
        <!-- Title -->
        <title>{% block head_title %}{% endblock %}</title>
        
        {% block extra_head %}
        {% endblock %}

        <!-- Required Meta Tags Always Come First -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'favicon.png' %}">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">

        <!-- CSS Implementing Plugins -->


        <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
    {% endblock head %}
    </head>